
#############地址############
#https://github.com/digitalninja-ro/klipper-neopixel/blob/master/README.md


















##############################
############灯效及配置#########
##############################


# static  
# 静态效果：系统将展示一种单一的颜色，并且这种颜色不会变化。静态效果意味着没有动态变化或动画。  
# 效果速率：不使用但必须提供  
# 截止值：不使用但必须提供  
# 调色板：在 LED 灯条上均匀混合


# linearfade  
# 渐变效果：LED 灯通过颜色进行渐变变化，呈现出颜色的循环效果。  
# 效果速率：3，表示完成一个完整循环所需的时间。  
# 截止值：0，虽然需提供但不使用。  
# 调色板：颜色按顺序循环呈现。


# breathing  
# 呼吸效果：颜色逐渐淡入和淡出，模拟呼吸效果。  
# 效果速率：3，表示完成一个完整循环所需的时间。  
# 截止值：0，虽然需提供但不使用。  
# 调色板：颜色按顺序循环呈现。




# blink  
# 静态效果：LED 灯根据效果速度完全开启和完全关闭。  
# 效果速率：1，表示完成一个完整循环所需的时间。  
# 截止值：0.5，表示 LED 开启时间的比例（在 0 到 1 之间）。  
# 调色板：颜色按顺序循环呈现。


# strobe  
# 静态效果：LED 灯完全开启后逐渐淡出，带有衰减效果。  
# 效果速率：1，表示每秒闪烁的次数。  
# 截止值：1.5，决定衰减速率。数值越高，衰减越快。  
# 调色板：颜色按顺序循环呈现。


# twinkle  
# 静态效果：沿灯条随机闪烁，带有衰减效果。  
# 效果速率：1，增加 LED 点亮的概率（0 = 从不，254 = 总是）。  
# 截止值：0.25，决定衰减速率。数值越高，衰减越快。  
# 调色板：随机选择颜色。  

# gradient  
# 静态效果：将调色板中的颜色混合成线性渐变，沿灯条呈现。  
# 效果速率：1，控制渐变的循环速度，负值可改变方向。  
# 截止值：1，决定渐变在链条上的数量。  
# 调色板：均匀间隔的线性渐变。  

# pattern  
# 静态效果：将调色板应用为循环模式，并沿链条移动。  
# 效果速率：1，单位为秒，决定模式移动之间的时间。  
# 截止值：1，决定模式移动的距离。  
# 调色板：要移动的模式。

# comet  
# 静态效果：光点在 LED 之间移动，带有衰减尾迹。  
# 效果速率：1，控制彗星移动的速度，负值可改变方向。  
# 截止值：1，尾部长度（有些任意）。  
# 调色板：彗星的“头”颜色和“尾”渐变颜色。  

# chase  
# 静态效果：多个光点相互追逐的效果。  
# 效果速率：1，控制彗星移动的速度，负值可改变方向。  
# 截止值：1，尾部长度（有些任意）。  
# 调色板：彗星的“头”颜色和“尾”渐变颜色。  

# heater  
# 静态效果：根据加热器的状态变化 LED 颜色，指示温度。  
# 效果速率：1，激活效果所需的最低温度。  
# 截止值：0，一旦达到目标温度便禁用效果。  
# 调色板：从冷到热的颜色值混合。


# temperature  
# 静态效果：根据配置的加热器温度，沿调色板呈现渐变颜色。  
# 效果速率：20，表示冷温度。  
# 截止值：80，表示热温度。  
# 调色板：从“冷”到“热”的颜色值混合。  

# heaterGauge  
# 静态效果：根据加热器的温度相对于目标温度，以灯条表示。  
# 效果速率：50，表示尾随 LED 的数量。  
# 截止值：0，表示前置 LED 的数量。  
# 调色板：从“冷”到“热”的颜色值混合。

# temperatureGauge  
# 静态效果：根据加热器或温度传感器的温度，表示从冷温度到热温度的渐变颜色。  
# 效果速率：20，表示冷温度。  
# 截止值：80，表示热温度。  
# 调色板：颜色值混合。  

# fire  
# 静态效果：模拟火焰效果，通过点亮 LED 模拟“火花”。  
# 效果速率：45，表示“火花”的概率。  
# 截止值：40，表示“冷却”速率。  
# 调色板：从“冷”到“热”的颜色值混合。  

# heaterFire  
# 静态效果：根据指定加热器的温度响应的火焰效果。  
# 效果速率：1，激活效果所需的最低温度。  
# 截止值：0，一旦达到目标温度便禁用效果。  
# 调色板：从“冷”到“热”的颜色值混合。

# analogPin  
# 静态效果：根据模拟引脚读取的值确定颜色。  
# 效果速率：10，输入信号的乘数。  
# 截止值：40，触发效果的最小阈值。  
# 调色板：颜色值混合。  

# stepper  
# 静态效果：根据指定步进电机的位置表示颜色。  
# 效果速率：4，表示尾随 LED 的数量。  
# 截止值：4，表示前置 LED 的数量。  
# 调色板：颜色值混合。  

# stepperColor  
# 静态效果：根据步进电机的位置确定 LED 的颜色。  
# 效果速率：1，位置的缩放。  
# 截止值：0，位置的偏移。  
# 调色板：颜色值混合。


# progress  
# 静态效果：报告打印进度，配置与步进电机相同。  
# 效果速率：4，表示尾随 LED 的数量。  
# 截止值：4，表示前置 LED 的数量。  
# 调色板：颜色值混合。  

# homing  
# 静态效果：在归位时根据触发的限位开关控制 LED。  
# 效果速率：1，决定衰减速率，数值越高衰减越慢。  
# 截止值：0，不使用，但必须提供。  
# 调色板：颜色按顺序循环。  

# switchButton  
# 静态效果：根据按钮的按下和释放状态控制 LED。  
# 效果速率：1，表示渐显时间，按钮按下后 LED 亮起的时间。  
# 截止值：1，表示渐隐时间，按钮释放后 LED 关闭的时间。  
# 调色板：颜色按顺序循环。




# toggleButton  
# 静态效果：根据按钮的按下状态循环颜色。  
# 效果速率：1，表示渐显时间，切换到下一个颜色的时间。  
# 截止值：1，表示渐隐时间，切换到上一个颜色的时间。  
# 调色板：颜色按顺序循环。  

# flashButton  
# 静态效果：根据按钮的按下状态控制 LED 的闪烁。  
# 效果速率：0.1，表示渐显时间，LED 亮起的时间。  
# 截止值：1，表示渐隐时间，LED 关闭的时间。  
# 调色板：颜色按顺序循环。




















####################################
############效果层混合###############
####################################
#如果你曾使用过图像编辑软件，可能会熟悉图层之间的颜色混合。已添加多种常见的颜色混合技术，以便将 LED 层进行融合。在配置中定义的层是从上到下的顺序。
#当定义了三个层时，底层首先与中层进行混合，生成的结果层再与顶层混合。即使指定了混合模式，底层也不会与其他层进行混合。
#层混合总是从底层向上评估。
#由于数值不能超过 100% 的亮度和 0% 的暗度，因此在 0.0 到 1.0 的范围内进行限制。

#bottom
#不进行混合，使用底层颜色通道的值。

#top
#不进行混合，使用顶层颜色通道的值。

#add
#（t + b）
#颜色通道（红、绿、蓝）相加，结果使通道变得更亮。

#subtract
#（b - t）
#从底层减去顶层，使相似颜色变暗。

#subtract_b
#（t - b）
#从顶层减去底层，使相似颜色变暗。

#difference
#（t - b）或（b - t）
#从亮的层中减去暗的层。

#average
#（t + b）/ 2
#取通道的平均值。

#multiply
#（t * b）
#通道相乘，用于使颜色变暗。

#divide
#（t / b）
#通道相除，亮化颜色，通常使其接近白色。

#divide_inv
#（b / t）
#与 divide 类似，但底层被顶层所除。

#screen
#1 - (1 - t) * (1 - b)
#值被反转、相乘后再反转，结果使颜色更亮，与 divide 类似。

#lighten
#（如果 t > b 则为 t，否则为 b）
#使用更亮的颜色通道。

#darken
#（如果 t < b 则为 t，否则为 b）
#与 lighten 相反，使用更暗的颜色通道。

#overlay
#（如果 a > 0.5 则为 2ab，否则为 1 - 2(1 - a)(1 - b)）
#overlay 是 multiply 和 screen 的结合，具有类似于增强对比度的效果。

















#########################################
#################灯条定义#################
#########################################

[neopixel front_lights]           #定义前面灯带
pin:                     PA8    #灯带
chain_count:             30     #灯珠数量
color_order:             GRB    #灯带顺序

[neopixel side_lights]           #定义侧灯带
pin:                     PC5    #灯带
chain_count:             50     #灯珠数量
color_order:             GRB    #灯带顺序
















####################################
###########灯效定义##################
####################################


[led_effect effect_Power_on]              #开机时
autostart:              false         #是否自动开启
frame_rate:             24           #运行帧率
#heater:                 extruder    
#选择想要关联的硬件    extruder-挤出机     heater_bed-热床       "temperature_fan myfan"-风扇
leds:                   neopixel:side_lights                #指定灯带名称
#leds:                  
#                                  neopixel:panel_ring  (1-7)         #指定灯带名称并对单独灯珠定义
#                                  neopixel:tool_lights               
layers:                 gradient  1 1 top  (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)      #效果器定义：效果器名称-效果器参数-效果器参数-图层混合模式-调色板




[led_effect effect_error]        #出现报错时
leds:
    neopixel:side_lights
    neopixel:front_lights
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true



[led_effect progress_bar]           #进度条
leds:
    neopixel:side_lights
autostart:                          false
frame_rate:                         24
layers:
    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)




[led_effect rainbow]             #彩虹
leds:
    neopixel:side_lights (1-25)
    neopixel:front_lights
    neopixel:side_lights (26-50)
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)



[led_effect homeing]             #归位确认
leds:
    neopixel:side_lights (1-25)
    neopixel:side_lights (26-50)
autostart:                          false
frame_rate:                         24
endstops:                          x,y,z
layers:
    homing 15 0 top (0.0, 0.3, 0.0)



















#######################
#       静态效果       #
#######################

[led_effect set_sideleds_on]                #补光灯全亮
leds:
    neopixel:side_lights
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)

[led_effect set_logo_leds]
leds:
    neopixel:side_lights
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)























############################
######       宏       ######
############################
[gcode_macro led_all_off]
description: 关闭所有灯光
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:front_lights"
    STOP_LED_EFFECTS LEDS="neopixel:side_lights"

[gcode_macro led_side_off]
description: 关补光灯
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:side_lights"
[gcode_macro led_side_on]
description: 开补光灯
gcode:
    led_side_off
    SET_LED_EFFECT EFFECT=set_sideleds_on
    
[gcode_macro led_rain]
description: 彩虹待机
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow



    # 以下为状态触发宏

[ gcode_macro _status_led_off]
description: 停止所有灯的状态
gcode:
    STOP_LED_EFFEC

[ gcode_macro _status_print_success]
description: 打印成功
gcode:
    _status_led_off
    SET_LED_EFFECT EFFECT=rainbow


[ gcode_macro _status_homeing]
description: 归位确认
gcode:
    _status_led_off
    SET_LED_EFFECT EFFECT=homeing





















# ##########################
# # LED Effects Animations #
# ##########################

# ##################
# ## logo effects ##
# ##################

# [led_effect sb_logo_busy]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#     breathing  3 1 top (1,0,0)

# [led_effect sb_logo_cleaning]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#     breathing  3 1 top (0.0, 0.02, 0.5)

# [led_effect sb_logo_calibrating_z]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#         breathing  3 1 top (0.0, 0.0, 0.35)

# [led_effect sb_logo_heating]
# leds:
#     neopixel:sb_leds (1)
# autostart:                          false
# frame_rate:                         24
# layers:
#      breathing  3 1 top (1, 0.18, 0)

# [led_effect sb_logo_cooling]
# leds:
#     neopixel:sb_leds (1)
# autostart:                          false
# frame_rate:                         24
# layers:
#      breathing  3 1 top (0, 0, 1)

# [led_effect sb_logo_homing]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#         breathing  3 1 top (0.0, 0.6, 0.2)

# [led_effect sb_logo_leveling]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#         breathing  3 1 top (0.5, 0.1, 0.4)

# [led_effect sb_logo_meshing]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#         breathing  3 1 top (0.2, 1.0, 0.0)

# [led_effect sb_logo_printing]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#     gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

# [led_effect sb_logo_standby]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#         breathing  3 1 top (0.01, 0.01, 0.01)

# [led_effect sb_logo_part_ready]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (1)
# layers:
#         breathing  3 1 top (0.0, 1.0, 0.0)

# ####################
# ## nozzle effects ##
# ####################

# [led_effect sb_nozzle_heating]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (2,3)
# layers:
#         breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

# [led_effect sb_nozzle_cooling]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (2,3)
# layers:
#         breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

# [led_effect sb_nozzle_standby]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (2,3)
# layers:
#         breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

# [led_effect sb_nozzle_part_ready]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:sb_leds (2,3)
# layers:
#         breathing  3 1 top (0.6, 1.0, 0.0, 0.1)







# #######################
# # LED Effects Statics #
# #######################

# [led_effect set_nozzle_leds]
# leds:
#     neopixel:sb_leds (2,3)
#    #neopixel:caselight
# autostart:                          false
# frame_rate:                         24
# layers:
#     static         0  0     top        (0.0,  0.0, 0.0, 1.0)

# [led_effect set_logo_leds]
# leds:
#     neopixel:sb_leds (1)
# autostart:                          false
# frame_rate:                         24
# layers:
#     static         0  0     top        (1.0,  1.0, 1.0)

# ##############
# # The Macros #
# ##############

# [gcode_macro set_logo_leds_off]
# gcode:
#     SET_LED_EFFECT EFFECT=set_logo_leds STOP=1

# [gcode_macro set_logo_leds_on]
# gcode:
#     SET_LED_EFFECT EFFECT=set_logo_leds

# [gcode_macro set_nozzle_leds_on]
# gcode:
#     SET_LED_EFFECT EFFECT=set_nozzle_leds

# [gcode_macro set_nozzle_leds_off]
# gcode:
#     SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

# [gcode_macro status_off]
# gcode:
#     STOP_LED_EFFECTS



# [gcode_macro status_part_ready]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_nozzle_part_ready
#     SET_LED_EFFECT EFFECT=sb_logo_part_ready

# [gcode_macro status_busy]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_busy
#     set_nozzle_leds_on

# [gcode_macro status_heating]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_heating
#     SET_LED_EFFECT EFFECT=sb_nozzle_heating

# [gcode_macro status_cooling]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_cooling
#     SET_LED_EFFECT EFFECT=sb_nozzle_cooling


# [gcode_macro status_leveling]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_leveling
#     set_nozzle_leds_on

# [gcode_macro status_homing]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_homing
#     set_nozzle_leds_on

# [gcode_macro status_cleaning]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_cleaning
#     set_nozzle_leds_on

# [gcode_macro status_meshing]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_meshing
#     set_nozzle_leds_on

# [gcode_macro status_calibrating_z]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
#     set_nozzle_leds_on

# [gcode_macro status_printing]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=sb_logo_printing
#     set_nozzle_leds_on